html {
    height: 100%;
}

body {
    background-color: #343a40;
    background-image: url("assets/grey_wash_wall.png");
    color: rgb(236, 240, 241);
}

.navbar {
    background-image: url("assets/grey_wash_wall.png");
  }

p {
    text-align: left;
    vertical-align: text-top;
}

a {
    color: rgb(236, 240, 241);
}

.cover-heading {
    margin-bottom: 1em;
}

.inner {
    margin-top: 3em;
}

.under-link {
    text-decoration: underline;
}

.card {
    background-image: url("assets/funky-lines.png");
    margin-bottom: 1.25em;
}

.grow:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 4;
    transition: all 600ms ease-in-out;
    transform: scale(1.1);
}

.help-text {
    color: rgb(236, 240, 241);
    font-size: smaller;
    font-style: italic;
}

.mastfoot {
    margin-bottom: 2em;
}